<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Document</title>
</head>

<body>
    <header>
        <nav>
            <div class="logo">
                <img src="../img/logo.png" width="100%" height="100%" alt="">
            </div>
            <div class="nav_context">
                <ul>
                    <li><a href="#">Kitoblar</a></li>
                    <li><a href="#">Sovg'alar</a></li>
                    <li><a href="#">Forumlar</a></li>
                    <li><a href="#">Boshqa xizmatlar</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="about_book_wrapper">
        <div class="container">
            <div class="fdc_book_about_wrapper">
                <div class="book_card">
                    <div class="book_image_wrapper">
                        <div class="book_img">
                            <img src="../img/first_book.png" width="100%" height="100%" alt="">
                        </div>
                        <div class="book_rating">
                            <p>Rating</p>
                            ⭐⭐⭐⭐⭐
                        </div>
                    </div>
                    <div class="right_wrapper_book">
                        <div class="book_context_wrapper">
                            <div class="book_context_title">
                                <div>
                                    <h1>Atomic Habits</h1>
                                </div>
                                <div class="like_icon_wrapper">
                                    <ul>
                                        <li>👍</li>
                                        <li>👎</li>
                                        <li>🗓️</li>
                                        <li>💬</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="book_main_context">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo incidunt ea, dolor beatae
                                explicabo sunt dicta!
                                Nulla magni, dolorum provident quos dolor labore recusandae non impedit suscipit eos
                                minus veniam.
                            </p>
                        </div>
                    </div>
                    <div class="created_date_time">
                        <p>12.02.2018</p>
                    </div>
                </div>
                <div class="book_card">
                    <div class="book_image_wrapper">
                        <div class="book_img">
                            <img src="../img/first_book.png" width="100%" height="100%" alt="">
                        </div>
                        <div class="book_rating">
                            <p>Rating</p>
                            ⭐⭐⭐⭐⭐
                        </div>
                    </div>
                    <div class="right_wrapper_book">
                        <div class="book_context_wrapper">
                            <div class="book_context_title">
                                <div>
                                    <h1>Atomic Habits</h1>
                                </div>
                                <div class="like_icon_wrapper">
                                    <ul>
                                        <li>👍</li>
                                        <li>👎</li>
                                        <li>🗓️</li>
                                        <li>💬</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="book_main_context">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo incidunt ea, dolor beatae
                                explicabo sunt dicta!
                                Nulla magni, dolorum provident quos dolor labore recusandae non impedit suscipit eos
                                minus veniam.
                            </p>
                        </div>
                    </div>
                    <div class="created_date_time">
                        <p>12.02.2018</p>
                    </div>
                </div>
                <div class="book_card">
                    <div class="book_image_wrapper">
                        <div class="book_img">
                            <img src="../img/second_book.png" width="100%" height="100%" alt="">
                        </div>
                        <div class="book_rating">
                            <p>Rating</p>
                            ⭐⭐⭐
                        </div>
                    </div>
                    <div class="right_wrapper_book">
                        <div class="book_context_wrapper">
                            <div class="book_context_title">
                                <div>
                                    <h1>Atomic Habits</h1>
                                </div>
                                <div class="like_icon_wrapper">
                                    <ul>
                                        <li>👍</li>
                                        <li>👎</li>
                                        <li>🗓️</li>
                                        <li>💬</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="book_main_context">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo incidunt ea, dolor beatae
                                explicabo sunt dicta!
                                Nulla magni, dolorum provident quos dolor labore recusandae non impedit suscipit eos
                                minus veniam.
                            </p>
                        </div>
                    </div>
                    <div class="created_date_time">
                        <p>12.02.2018</p>
                    </div>
                </div>
                <div class="book_card">
                    <div class="book_image_wrapper">
                        <div class="book_img">
                            <img src="../img/first_book.png" width="100%" height="100%" alt="">
                        </div>
                        <div class="book_rating">
                            <p>Rating</p>
                            ⭐⭐⭐⭐⭐
                        </div>
                    </div>
                    <div class="right_wrapper_book">
                        <div class="book_context_wrapper">
                            <div class="book_context_title">
                                <div>
                                    <h1>Atomic Habits</h1>
                                </div>
                                <div class="like_icon_wrapper">
                                    <ul>
                                        <li>👍</li>
                                        <li>👎</li>
                                        <li>🗓️</li>
                                        <li>💬</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="book_main_context">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo incidunt ea, dolor beatae
                                explicabo sunt dicta!
                                Nulla magni, dolorum provident quos dolor labore recusandae non impedit suscipit eos
                                minus veniam.
                            </p>
                        </div>
                    </div>
                    <div class="created_date_time">
                        <p>12.02.2018</p>
                    </div>
                </div>
                <div class="book_card">
                    <div class="book_image_wrapper">
                        <div class="book_img">
                            <img src="../img/second_book.png" width="100%" height="100%" alt="">
                        </div>
                        <div class="book_rating">
                            <p>Rating</p>
                            ⭐⭐⭐⭐
                        </div>
                    </div>
                    <div class="right_wrapper_book">
                        <div class="book_context_wrapper">
                            <div class="book_context_title">
                                <div>
                                    <h1>Atomic Habits</h1>
                                </div>
                                <div class="like_icon_wrapper">
                                    <ul>
                                        <li>👍</li>
                                        <li>👎</li>
                                        <li>🗓️</li>
                                        <li>💬</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="book_main_context">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo incidunt ea, dolor beatae
                                explicabo sunt dicta!
                                Nulla magni, dolorum provident quos dolor labore recusandae non impedit suscipit eos
                                minus veniam.
                            </p>
                        </div>
                    </div>
                    <div class="created_date_time">
                        <p>12.02.2018</p>
                    </div>
                </div>
                <div class="book_card">
                    <div class="book_image_wrapper">
                        <div class="book_img">
                            <img src="../img/first_book.png" width="100%" height="100%" alt="">
                        </div>
                        <div class="book_rating">
                            <p>Rating</p>
                            ⭐⭐⭐
                        </div>
                    </div>
                    <div class="right_wrapper_book">
                        <div class="book_context_wrapper">
                            <div class="book_context_title">
                                <div>
                                    <h1>Atomic Habits</h1>
                                </div>
                                <div class="like_icon_wrapper">
                                    <ul>
                                        <li>👍</li>
                                        <li>👎</li>
                                        <li>🗓️</li>
                                        <li>💬</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="book_main_context">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo incidunt ea, dolor beatae
                                explicabo sunt dicta!
                                Nulla magni, dolorum provident quos dolor labore recusandae non impedit suscipit eos
                                minus veniam.
                            </p>
                        </div>
                    </div>
                    <div class="created_date_time">
                        <p>12.02.2018</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="container">
            <div>
                <div class="logo">
                    <img src="../img/logo.png" width="100%" height="100%" alt="">
                </div>
                <div class="logo_context">
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste, voluptatum.</p>
                </div>
            </div>
            <div class="footer_context">
                <ul>
                    <li><a href="#">Kitoblar</a></li>
                    <li><a href="#">Sovg'alar</a></li>
                    <li><a href="#">Forumlar</a></li>
                    <li><a href="#">Boshqa xizmatlar</a></li>
                </ul>
            </div>
            <div class="footer_context">
                <ul>
                    <li><a href="#">+998 91 600 50 40</a></li>
                    <li><a href="#">+998 90 500 50 40</a></li>
                    <li><a href="#">+998 97 400 50 40</a></li>
                    <li><a href="#">+998 99 300 50 40</a></li>
                </ul>
            </div>
            <div class="network_block">
                <div class="network_card">
                    <p>Telegram</p>
                </div>
                <div class="network_card">
                    <p>Instagram</p>
                </div>
                <div class="network_card">
                    <p>Facebook</p>
                </div>
                <div class="network_card">
                    <p>Linkedin</p>
                </div>
            </div>
    </footer>
    </div>
    <script src="../js/app.js"></script>
</body>

</html>