<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Document</title>
</head>

<body>
    <header>
        <nav>
            <div class="logo">
                <img src="../img/logo.png" width="100%" height="100%" alt="">
            </div>
            <div class="nav_context">
                <ul>
                    <li><a href="#">Kitoblar</a></li>
                    <li><a href="#">Sovg'alar</a></li>
                    <li><a href="#">Forumlar</a></li>
                    <li><a href="#">Boshqa xizmatlar</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="banner_full_wrappper" style="padding-top: 100px;">
        <div class="container">
            <div class="banner">
                <div class="left_img_block_banner">
                    <div class="image_block_banner">
                        <img src="../img/banner_main-mini.png" width="100%" height="100%" alt="">
                    </div>
                </div>
                <div class="right_context_block_banner">
                    <h1>Welcome to our Book Club</h1>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Explicabo blanditiis vitae quam minus
                        assumenda ex possimus consequatur molestiae corporis alias, quos quo totam placeat excepturi at
                        labore nemo error dicta? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Temporibus
                        quam cum ratione nesciunt esse quidem! Molestias, veritatis exercitationem consequuntur nam
                        porro eveniet voluptas, assumenda, quia qui esse explicabo dicta sed. Lorem ipsum dolor sit amet
                        consectetur adipisicing elit. Non quidem quaerat cum debitis mollitia quibusdam quod dolorem in,
                        iusto, magni reprehenderit quae nam incidunt tempora deserunt ullam recusandae iste repudiandae?
                    </p>
                    <button>Read More</button>
                </div>
            </div>
        </div>
    </div>
    <div class="about_full_wrapper">
        <div class="container">
            <div class="title_block">
                <h1>About Us</h1>
            </div>
            <div class="main_text_about">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. A libero, beatae distinctio magni, voluptatum
                dolorum sit modi eligendi dolor corporis totam fugit, molestias nemo culpa nulla. Saepe quibusdam
                praesentium iure.
                Delectus expedita eveniet aliquam nam iste natus ut inventore saepe, odit non quis laborum commodi
                sapiente! Consequuntur nam eius itaque exercitationem at ex magnam enim natus quaerat maxime! Adipisci,
                beatae.
                Dolores atque quaerat consequuntur odio optio cumque? Quasi in provident illum dolorum. Culpa quaerat
                quo quasi ex, reiciendis iusto error rerum et, quibusdam cum cupiditate. Quo adipisci beatae autem quas.
                Consectetur fugit reprehenderit magni qui iste consequuntur ipsum incidunt corrupti omnis eum
                perspiciatis optio, neque a necessitatibus cumque vel harum architecto quod deserunt exercitationem
                tenetur similique distinctio adipisci! Voluptatum, animi!
                Repudiandae, earum suscipit architecto impedit veritatis illum hic ex et dolore eveniet totam saepe odio
                debitis cupiditate voluptatibus est similique quibusdam sequi? Non nemo facere et, nulla minus magni
                debitis.
                Corporis non nemo amet aliquam atque id doloremque repellat facere ex fugiat. Voluptates sit sed
                perferendis pariatur omnis, ut quae enim culpa odio corrupti perspiciatis? Velit atque minima quaerat
                veritatis.
                Nostrum tenetur numquam incidunt a alias quia debitis asperiores aliquam in ullam dolores cum
                voluptatibus fugiat optio quae, illo voluptate unde ut enim aliquid ratione magnam aperiam? Natus,
                repellat saepe?
                Amet quae repudiandae incidunt voluptatibus illum asperiores aliquam, quos culpa quia delectus, quidem
                impedit et aut eum, nihil consequatur fugit mollitia vitae cumque tempore? Dicta natus quisquam aperiam
                quia tenetur!
                Quia quas autem qui eligendi mollitia provident doloremque vero a obcaecati minus quibusdam error amet
                accusantium, tempora iste adipisci repudiandae. Ad, a ab optio quae tempore suscipit consequatur tenetur
                illum!
                Exercitationem quos assumenda ipsam modi culpa dolor nesciunt velit, voluptatem quasi voluptas. Est nemo
                officiis, numquam ut rem eveniet. Fugit, quas. Officia quod aperiam, deleniti totam omnis quidem. Culpa,
                autem!
            </div>
            <button>Read More</button>
        </div>
    </div>
    <div class="contact_full_wrapper">
        <div class="container">
            <div class="main_wrapper_with_btn">
                <div class="main_contact_wrapper">
                    <div class="inputs_block">
                        <input type="text" placeholder="Full Name">
                        <input type="text" placeholder="Phone Number">
                    </div>
                    <div class="textarea_block">
                        <input type="text" placeholder="Write Your Comment">
                    </div>
                </div>
                <button>Read More</button>
            </div>
        </div>
    </div>
    <footer>
        <div class="container">
            <div>
                <div class="logo">
                    <img src="../img/logo.png" width="100%" height="100%" alt="">
                </div>
                <div class="logo_context">
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste, voluptatum.</p>
                </div>
            </div>
            <div class="footer_context">
                <ul>
                    <li><a href="#">Kitoblar</a></li>
                    <li><a href="#">Sovg'alar</a></li>
                    <li><a href="#">Forumlar</a></li>
                    <li><a href="#">Boshqa xizmatlar</a></li>
                </ul>
            </div>
            <div class="footer_context">
                <ul>
                    <li><a href="#">+998 91 600 50 40</a></li>
                    <li><a href="#">+998 90 500 50 40</a></li>
                    <li><a href="#">+998 97 400 50 40</a></li>
                    <li><a href="#">+998 99 300 50 40</a></li>
                </ul>
            </div>
            <div class="network_block">
                <div class="network_card">
                    <p>Telegram</p>
                </div>
                <div class="network_card">
                    <p>Instagram</p>
                </div>
                <div class="network_card">
                    <p>Facebook</p>
                </div>
                <div class="network_card">
                    <p>Linkedin</p>
                </div>
            </div>
    </footer>
    </div>
    <script src="../js/app.js"></script>
</body>

</html>