<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/modal.css">
    <title>Document</title>
</head>

<body>
    <div class="progress-container">
        <div class="progress-bar" id="myBar"></div>
    </div>
    <div class="banner_wrapper">
        <div class="banner_second_wrapper">
            <div class="container">
                <header>
                    <nav>
                        <div class="logo">
                            <img src="../image/logo 1.png" width="100%" height="100%" alt="">
                        </div>
                        <div class="party_creator_btn_nav">
                            <p onclick="get_modal('Party')" style="color: white; cursor: pointer;">Create your party</p>
                        </div>
                        <div class="nav_context">
                            <ul>
                                <li><a href="#">Home</a></li>
                                <li><a href="#">About</a></li>
                                <li><a href="#">Service</a></li>
                                <li><a href="#">Packets</a></li>
                                <li><a href="#">Contact</a></li>
                                <li class="menu_btn">Go Back</li>
                            </ul>
                        </div>
                    </nav>
                    <div class="menu_btn">
                        <p>Menu</p>
                    </div>
                </header>
                <div class="banner_main_context_wrapper">
                    <div class="banner_image_block">
                        <img src="../image/banner_image.jpg" alt="banner main image">
                    </div>
                    <div class="banner_context_block">
                        <h1>Welcom to our party</h1>
                        <br>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo quis accusamus nisi blanditiis
                            autem cum cumque tempora debitis unde perferendis, ex veniam est iure consequatur nihil quae
                            iste pariatur. Nostrum.
                            Officia animi perferendis veniam tempore ducimus, similique omnis. Cupiditate illum,
                            corrupti vel ipsam quae aut in ipsa veritatis omnis, aliquid nihil, explicabo minus eligendi
                            nisi earum. Dicta harum sit quae!</p>
                        <br>
                        <button>Read more</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="about_block_back_image">
        <div class="container" style="padding: 10px 0px;">
            <div class="about_title_block">
                <h1>About Us</h1>
            </div>
            <div class="about_doubel_context_block">
                <div class="about_block">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex cum fugit harum
                        id enim soluta, error alias quis qui culpa odio dicta laudantium quia recusandae sunt
                        aspernatur? Dolor, ratione repellat.
                        Dolor voluptates pariatur consectetur quis magnam animi non facilis incidunt totam
                        blanditiis
                        molestiae quibusdam nihil error et, minus earum velit quod quidem iste eveniet perspiciatis
                        quas
                        veritatis dolorum! Eveniet, earum?
                        Hic molestiae nobis eius nihil repellendus sit adipisci deserunt labore consequuntur id
                        facilis,
                        nemo quas at ratione odit ipsam ad cumque nesciunt et doloremque sequi. Laboriosam esse quia
                        fugiat minima.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex cum fugit harum
                        id enim soluta, error alias quis qui culpa odio dicta laudantium quia recusandae sunt
                        aspernatur? Dolor, ratione repellat.
                        Dolor voluptates pariatur consectetur quis magnam animi non facilis incidunt totam
                        blanditiis.
                    </p>
                </div>
                <div class="about_block">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex cum fugit harum
                        id enim soluta, error alias quis qui culpa odio dicta laudantium quia recusandae sunt
                        aspernatur? Dolor, ratione repellat.
                        Dolor voluptates pariatur consectetur quis magnam animi non facilis incidunt totam
                        blanditiis
                        molestiae quibusdam nihil error et, minus earum velit quod quidem iste eveniet perspiciatis
                        quas
                        veritatis dolorum! Eveniet, earum?
                        Hic molestiae nobis eius nihil repellendus sit adipisci deserunt labore consequuntur id
                        facilis,
                        nemo quas at ratione odit ipsam ad cumque nesciunt et doloremque sequi. Laboriosam esse quia
                        fugiat minima.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex cum fugit harum
                        id enim soluta, error alias quis qui culpa odio dicta laudantium quia recusandae sunt
                        aspernatur? Dolor, ratione repellat.
                        Dolor voluptates pariatur consectetur quis magnam animi non facilis incidunt totam
                        blanditiis.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="service_block_bg_color">
        <div class="container">
            <div class="about_title_block">
                <h1>Service</h1>
            </div>
            <div class="service_card_wrapper">
                <div class="service_card" style="--i:#E76F51" onclick="get_modal('Thematic events')">
                    <h1>Thematic events</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda nostrum velit commodi
                        accusamus quas illo odit blanditiis inventore neque autem corporis placeat, suscipit delectus
                        dolor deleniti facilis ratione! Voluptatibus, quae?</p>
                    <div class="mini_image">
                        <img src="../image/thematic.png" alt="">
                    </div>
                </div>
                <div class="service_card" style="--i:#F4A261" onclick="get_modal('Party in the nature')">
                    <h1>Party in the nature</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda nostrum velit commodi
                        accusamus quas illo</p>
                    <div class="mini_image">
                        <img src="../image/nature.png" alt="">
                    </div>
                </div>
                <div class="service_card" style="--i:#E76F51" onclick="get_modal('Wadding day')">
                    <h1>wadding day</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda nostrum velit commodi
                        accusamus quas illo
                        odit blanditiis inventore neque autem corporis placeat, suscipit delectus dolor deleniti facilis
                        ratione!
                        Voluptatibus, quae?</p>
                    <div class="mini_image">
                        <img src="../image/wadding.png" alt="">
                    </div>
                </div>
                <div class="service_card" style="--i:#E9C46A" onclick="get_modal('Special party')">
                    <h1>Special party</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda nostrum velit commodi
                        accusamus quas illo
                        odit blanditiis inventore neque autem corporis placeat, suscipit delectus dolor deleniti facilis
                        ratione!
                        Voluptatibus, quae?</p>
                    <div class="mini_image">
                        <img src="../image/special.png" alt="">
                    </div>
                </div>
                <div class="service_card" style="--i:#F4A261" onclick="get_modal('Night party')">
                    <h1>Night party</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda nostrum velit commodi
                        accusamus quas illo
                        odit blanditiis inventore neque autem corporis placeat, suscipit delectus dolor deleniti facilis
                        ratione!
                        Voluptatibus, quae?</p>
                    <div class="mini_image">
                        <img src="../image/night.png" alt="">
                    </div>
                </div>
                <div class="service_card" style="--i:#E9C46A" onclick="get_modal('Anouther services')">
                    <h1>Anouther services</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda nostrum velit commodi
                        accusamus quas illo
                        odit blanditiis inventore neque autem corporis placeat, suscipit delectus dolor deleniti facilis
                        ratione!
                        Voluptatibus, quae?</p>
                    <div class="mini_image">
                        <img src="../image/trible_image.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="first_modal_wrapper">
            <div class="modal_center_block">
                <div class="modal_title">
                    <h1 class="first_modal_title">Create your party</h1>
                    <h3 class="subtitle">subtitle</h3>
                </div>
                <div class="modal_input_wrapper">
                    <input type="text" placeholder="First name">
                    <input type="text" placeholder="Last name">
                    <input type="number" placeholder="Phone number">
                    <input type="email" placeholder="Email">
                    <select>
                        <option selected>-------------------</option>
                        <option>Bronz</option>
                        <option>Silver</option>
                        <option>Gold</option>
                    </select>
                    <div class="modal_double_btn_wrapper">
                        <button style="width: 48%;" onclick="remove_modal()">Cancel</button>
                        <button style="width: 48%;" onclick="create_party()">Create</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="packets_blokc_bg_wrapper">
        <div class="container">
            <div class="about_title_block">
                <h1>Packets</h1>
            </div>
            <div class="packets_inducator_block">
                <div class="packets_first_wrapper">
                    <div class="packets_card bronz" style="--k:#DD355C">
                        <h1>Bronz</h1>
                        <div class="about_price_wrapper">
                            <div>
                                <img src="../image/false.png" alt="">
                                <p>Music Band</p>
                            </div>
                            <div>
                                <img src="../image/true.png" alt="">
                                <p>Place for a party</p>
                            </div>
                            <div>
                                <img src="../image/false.png" alt="">
                                <p>Deliver servise</p>
                            </div>
                            <div>
                                <img src="../image/true.png" alt="">
                                <p>Musical instrument</p>
                            </div>
                            <div>
                                <img src="../image/true.png" alt="">
                                <p>Party decoration</p>
                                <h1>103$</h1>
                            </div>
                        </div>
                        <button>Create Now</button>
                    </div>
                    <div class="packets_card silver" style="--k:#fff">
                        <h1>Silver</h1>
                        <div class="about_price_wrapper">
                            <div>
                                <img src="../image/true.png" alt="">
                                <p>Music Band</p>
                            </div>
                            <div>
                                <img src="../image/true.png" alt="">
                                <p>Place for a party</p>
                            </div>
                            <div>
                                <img src="../image/true.png" alt="">
                                <p>Deliver servise</p>
                            </div>
                            <div>
                                <img src="../image/true.png" alt="">
                                <p>Musical instrument</p>
                            </div>
                            <div>
                                <img src="../image/true.png" alt="">
                                <p>Party decoration</p>
                            </div>
                            <div>
                                <img src="../image/false.png" alt="">
                                <p>special route</p>
                                <h1>245$</h1>
                            </div>
                            <div>
                                <img src="../image/false.png" alt="">
                                <p>invitation</p>
                            </div>
                        </div>
                        <button>Create Now</button>
                    </div>
                </div>
                <div class="packets_card gold" style="--k:#FFE925">
                    <h1>Gold</h1>
                    <div class="about_price_wrapper">
                        <div>
                            <img src="../image/true.png" alt="">
                            <p>Music Band</p>
                        </div>
                        <div>
                            <img src="../image/true.png" alt="">
                            <p>Place for a party</p>
                        </div>
                        <div>
                            <img src="../image/true.png" alt="">
                            <p>Deliver servise</p>
                        </div>
                        <div>
                            <img src="../image/true.png" alt="">
                            <p>Musical instrument</p>
                        </div>
                        <div>
                            <img src="../image/true.png" alt="">
                            <p>Party decoration</p>
                        </div>
                        <div>
                            <img src="../image/true.png" alt="">
                            <p>special route</p>
                            <h1>738$</h1>
                        </div>
                        <div>
                            <img src="../image/true.png" alt="">
                            <p>invitation</p>
                        </div>
                    </div>
                    <button>Create Now</button>
                </div>
            </div>
        </div>
    </div>
    <div class="contact_bg_wrapper">
        <div class="container">
            <div class="double_title_wrapper">
                <div class="contact_title">
                    <h1>Contact US</h1>
                </div>
                <div class="contact_title">
                    <h1>Write Your Comment</h1>
                </div>
            </div>
            <div class="all_networ_block_wrapper">
                <div class="contact_block">
                    <div class="phone_number">
                        <ul>
                            <li>+998 91 666 56 66</li>
                            <li>+998 91 665 56 66</li>
                            <li>+998 91 664 56 66</li>
                            <li>+998 91 664 56 66</li>
                            <li>+998 91 664 56 66</li>
                        </ul>
                    </div>
                    <div class="network_icon_block">
                        <div class="df_icon">
                            <div class="icon_bx">
                                <img src="../image/insta.png" alt="">
                            </div>
                            <div class="icon_bx">
                                <img src="../image/tele.png" alt="">
                            </div>
                            <div class="icon_bx">
                                <img src="../image/linkedin.png" alt="">
                            </div>
                        </div>
                        <div class="last_link">
                            <p><a href="#">https://youtube.com</a></p>
                        </div>
                    </div>
                </div>
                <form class="comment_block">
                    <div class="input_wrapper">
                        <div class="inputBox">
                            <div>
                                <input class="first_input" type="text" required="required">
                                <p class="first_p">First Name</p>
                                <i class="fa-solid fa-user"></i>
                            </div>
                            <div>
                                <input class="first_input" type="text" required="required">
                                <p class="first_p">Last Name</p>
                                <i class="fa-sharp fa-solid fa-eye" id="eye"></i>
                            </div>
                            <div>
                                <input class="first_input" type="email" required="required">
                                <p class="first_p">Email</p>
                                <i class="fa-sharp fa-solid fa-eye" id="eye"></i>
                            </div>
                            <div>
                                <input class="first_input" type="number" required="required">
                                <p class="first_p">Phone Number</p>
                                <i class="fa-sharp fa-solid fa-eye" id="eye"></i>
                            </div>
                        </div>
                        <div class="textarea_wrapper">
                            <textarea placeholder="Your Comment" cols="100" rows="17" required="required"></textarea>
                        </div>
                    </div>
                    <button type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
    <div class="music_band_full_wrapper">
        <div class="container">
            <div class="band_card_wrapper">
                <div class="band_card">
                    <p class="band_card_order">1</p>
                    <div class="hide_band_card_context">
                        <h1>The Best Music Band</h1>
                        <p class="nand_card_information">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente unde possimus harum enim
                            numquam sunt?
                        </p>
                        <button>Invite this band</button>
                    </div>
                </div>
                <div class="band_card">
                    <p class="band_card_order">2</p>
                    <div class="hide_band_card_context">
                        <h1>The Best Music Band</h1>
                        <p class="nand_card_information">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente unde possimus harum enim
                            numquam sunt?
                        </p>
                        <button>Invite this band</button>
                    </div>
                </div>
                <div class="band_card active_band_card">
                    <p class="band_card_order">3</p>
                    <div class="hide_band_card_context">
                        <h1>The Best Music Band</h1>
                        <p class="nand_card_information">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente unde possimus harum enim
                            numquam sunt?
                        </p>
                        <button>Invite this band</button>
                    </div>
                </div>
                <div class="band_card">
                    <p class="band_card_order">4</p>
                    <div class="hide_band_card_context">
                        <h1>The Best Music Band</h1>
                        <p class="nand_card_information">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente unde possimus harum enim
                            numquam sunt?
                        </p>
                        <button>Invite this band</button>
                    </div>
                </div>
                <div class="band_card">
                    <p class="band_card_order">5</p>
                    <div class="hide_band_card_context">
                        <h1>The Best Music Band</h1>
                        <p class="nand_card_information">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente unde possimus harum enim
                            numquam sunt?
                        </p>
                        <button>Invite this band</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="container">
            <div class="footer_df_wrapper">
                <div class="footer_logo_block">
                    <div class="logo_block">
                        <img src="../image/logo 1.png" alt="">
                    </div>
                    <div class="context_block">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellendus, porro. Molestias
                            maxime ab iusto excepturi corporis ut delectus.</p>
                    </div>
                </div>
                <div class="footer_center_block">
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Service</a></li>
                        <li><a href="#">Packets</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
                <div class="footer_right_block">
                    <h3>Yaqinda o'tkazilgan bayramlar</h3>
                    <div class="img_card_wrapper">
                        <div class="footer_card">
                            <div class="footer_card_image_block">
                                <img src="../image/nature.png" alt="">
                            </div>
                            <p>01.02.2024</p>
                        </div>
                        <div class="footer_card">
                            <img src="../image/night.png" alt="">
                            <p>09.01.2024</p>
                        </div>
                        <div class="footer_card">
                            <img src="../image/special.png" alt="">
                            <p>11.01.2024</p>
                        </div>
                        <div class="footer_card">
                            <img src="../image/thematic.png" alt="">
                            <p>14.01.2024</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <div class="under_footer">
        <h3>Created by PDP student width ❤️</h3>
    </div>
</body>

</html>