<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>lesson 2</title>
</head>

<body>
    <div class="banner_block">
        <h2>Parralx Web site</h2>
    </div>
    <div class="paragrf">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto ipsam adipisci magni in earum ea beatae? Neque consectetur, possimus minus atque quasi, delectus excepturi deserunt quidem doloremque saepe magnam corrupti?</p>
    </div>
    <div class="same_block">
        <div class="image_block"></div>
        <div class="context_block">
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae, quidem a tenetur nesciunt laudantium possimus quis odio? Magnam dolor pariatur saepe soluta quaerat distinctio? Totam expedita maiores beatae optio voluptatibus.
            </p>
        </div>
    </div>
</body>

</html>