<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>lesson 1</title>
</head>

<body>
    <div class="block">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos quidem pariatur quas incidunt, esse
        laudantium, corporis rem eaque mollitia eos voluptate officiis impedit similique magnam obcaecati ipsam illo
        voluptates placeat!
    </div>
    <div class="distance"></div>
    <div class="block">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos quidem pariatur quas incidunt, esse
        laudantium,
        corporis rem eaque mollitia eos voluptate officiis impedit similique magnam obcaecati ipsam illo voluptates
        placeat!
    </div>
    <div class="distance"></div>
    <div class="block">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos quidem pariatur quas incidunt, esse
        laudantium,
        corporis rem eaque mollitia eos voluptate officiis impedit similique magnam obcaecati ipsam illo voluptates
        placeat!
    </div>
    <div class="distance"></div>
    <div class="block">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos quidem pariatur quas incidunt, esse
        laudantium,
        corporis rem eaque mollitia eos voluptate officiis impedit similique magnam obcaecati ipsam illo voluptates
        placeat!
    </div>
    <div class="distance"></div>

    <div class="block">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos quidem pariatur quas incidunt, esse
        laudantium,
        corporis rem eaque mollitia eos voluptate officiis impedit similique magnam obcaecati ipsam illo voluptates
        placeat!
    </div>
    <div class="distance"></div>
</body>

</html>